<form method="post" action="{{ path('app_lista_productos_delete', {'id': lista_producto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lista_producto.id) }}">
    <button class="btn">Delete</button>
</form>
